* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
}
header .banner-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .banner-header .infor-dayOffWeek {
  font-size: 16px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .banner-header .infor-dayOffWeek .dayOfWeek {
  font-family: "Be Vietnam";
  display: flex;
  align-items: center;
}
header .banner-header .infor-dayOffWeek .dayOfWeek .fas {
  padding-right: 6px;
  color: #666666;
}
header .banner-header .infor-dayOffWeek .dayOfWeek p {
  font-size: 16px;
  margin-bottom: 0;
}
header .banner-header .weather {
  font-family: "Be Vietnam";
  font-size: 16px;
  width: 242px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #1B75BC;
  padding: 5px;
  border-radius: 7px;
}
header .banner-header .weather b {
  font-weight: bold;
  color: #1B75BC;
}
header .banner-header .weather .sun {
  color: #FFC700;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #FFFAC2;
  display: flex;
  align-items: center;
  border: 1px solid #FFF047;
}
nav .sider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .sider-bar .home {
  box-shadow: 0px 4px 2px #9E9205;
  border-radius: 5px;
}
nav .sider-bar .home a {
  color: black;
  display: inline-block;
}
nav .sider-bar .home a .fas {
  padding: 6px;
  border: 1px solid #9E9205;
  border-radius: 5px;
  background-color: #FFF047;
}
nav .sider-bar .home:hover {
  color: black;
}
nav .sider-bar ul {
  display: flex;
  align-items: center;
  font-family: "Be Vietnam";
  font-size: 17px;
}
nav .sider-bar ul li {
  margin-top: 13px;
  list-style: none;
  border-right: 1px solid #E5E1AF;
  padding-right: 10px;
}
nav .sider-bar ul li a {
  text-decoration: none;
}
nav .sider-bar ul li:hover a {
  text-decoration: none;
}
nav .sider-bar ul li:nth-child(1) a {
  color: red;
}
nav .sider-bar ul li:nth-child(2) a {
  color: #1B75BC;
}
nav .sider-bar ul li:nth-child(3) a {
  color: #E6B300;
}
nav .sider-bar ul li:nth-child(4) a {
  color: #00BA36;
}
nav .sider-bar ul li:nth-child(5) a {
  color: #10A5E8;
}
nav .sider-bar ul li:nth-child(6) a {
  color: #0D0898;
}
nav .sider-bar ul li:nth-child(7) a {
  color: #890CC2;
}
nav .sider-bar ul :last-child {
  border-right: none;
}
nav .sider-bar ul :first-child {
  margin-left: 10px;
}
nav .sider-bar .multimedia {
  border: 1px solid #1B75BC;
  padding: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 2px #1B75BC;
}
nav .sider-bar .multimedia a {
  padding: 3px;
  text-decoration: none;
  display: inline-block;
  color: #1B75BC;
  font-weight: bold;
  font-size: 15px;
}
nav .sider-bar .multimedia a .fas {
  padding-right: 3px;
}

.box-body {
  background: linear-gradient(180deg, #FFFFFF 0%, #E9F5FF 100%);
  width: 100%;
  padding-bottom: 27px;
  border-bottom: 1px solid #92CFFF;
}
.box-body .hagtag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Be Vietnam";
  height: 27px;
}
.box-body .hagtag .trendding .fas {
  padding: 5px;
  background-color: #DAEFFF;
  border-radius: 20px;
  color: #1B75BC;
  margin-right: 10px;
}
.box-body .hagtag .trendding span {
  font-size: 13px;
}
.box-body .hagtag a {
  text-decoration: none;
  font-size: 13px;
}
.box-body .content .is-content-left a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 278px;
  position: relative;
}
.box-body .content .is-content-left a img {
  width: 100%;
  height: 73%;
  position: relative;
}
.box-body .content .is-content-left a p {
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 68%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: "Be Vietnam";
  font-weight: 700;
  padding-bottom: 10px;
  background: linear-gradient(180deg, rgba(80, 41, 134, 0) 14.54%, #502986 50%);
}
.box-body .content .is-content-center a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 278px;
  position: relative;
}
.box-body .content .is-content-center a img {
  width: 100%;
  height: 73%;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  height: 100%;
}
.box-body .content .is-content-center a p {
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 68%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: "Be Vietnam";
  font-weight: 700;
  padding-bottom: 10px;
  background: linear-gradient(180deg, rgba(255, 98, 0, 0) 48.56%, #FF6200 90.68%);
}
.box-body .content .is-content-right a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 278px;
  position: relative;
}
.box-body .content .is-content-right a img {
  width: 100%;
  height: 73%;
  position: relative;
}
.box-body .content .is-content-right a p {
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 68%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: "Be Vietnam";
  font-weight: 700;
  padding-bottom: 10px;
  background: linear-gradient(180deg, rgba(19, 174, 142, 0) 14.54%, #13AE8E 50%);
}
.box-body .detail .is-detail-content a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 278px;
  position: relative;
}
.box-body .detail .is-detail-content a img {
  width: 100%;
  height: 73%;
  position: relative;
}
.box-body .detail .is-detail-content a p {
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 68%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: "Be Vietnam";
  font-weight: 700;
  padding-bottom: 10px;
}
.box-body .detail .is-detail-content:nth-child(1) a p {
  background: linear-gradient(180deg, rgba(66, 133, 244, 0) 14.54%, #4285F4 50%);
}
.box-body .detail .is-detail-content:nth-child(2) a p {
  background: linear-gradient(180.44deg, rgba(236, 197, 48, 0) 22.93%, #ECC530 50.02%);
}
.box-body .detail .is-detail-content:nth-child(3) a img {
  border-radius: 15px;
}
.box-body .detail .is-detail-content:nth-child(3) a p {
  background: linear-gradient(180deg, rgba(46, 176, 227, 0) 32.12%, #2EB0E3 59.67%);
}
.box-body .detail .is-detail-content:nth-child(4) a p {
  background: linear-gradient(180deg, rgba(13, 8, 152, 0) 14.54%, #0D0898 50%);
}
.box-body .event-tet .top {
  width: 120px;
  font-size: 24px;
}
.box-body .event-tet .top .title-top {
  color: #1B75BC;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #1B75BC;
  background: linear-gradient(270deg, #FFFFFF 0%, #A0D5FF 100%);
  box-shadow: 0px 4px 2px #1B75BC;
}
.box-body .event-tet .top .title-top p {
  padding-left: 15px;
  text-align: right;
  margin-bottom: 0;
  font-family: "Copperplate Gothic Bold", serif;
  font-weight: 700;
}
.box-body .event-tet .top span {
  font-family: "Be Vietnam";
  color: #333333;
  font-weight: 700;
  font-size: 21px;
  margin-top: 20px;
}
.box-body .event-tet .icon {
  width: 32px;
  height: 32px;
  color: white;
  background: rgba(27, 117, 188, 0.3019607843);
  border-radius: 19px;
  border: 1px solid #D6E7F5;
}
.box-body .event-tet .icon .fas {
  width: 6px;
}
.box-body .event-tet .customs {
  font-family: "Be Vietnam";
  color: #333333;
  width: 82px;
  font-weight: 400;
}
.box-body .event-tet .customs img {
  padding: 3px;
  border: 1px solid #EBEBEB;
  border-radius: 50%;
  background-color: white;
}
.box-body .event-tet :hover {
  text-decoration: none;
}

.youth a {
  font-family: "Be Vietnam";
}
.youth a img {
  width: 100%;
}
.youth a p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  margin-bottom: 0;
}
.youth a h6 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}
.youth :hover {
  text-decoration: none;
}

.new-information {
  padding-top: 20px;
}
.new-information .heading {
  position: relative;
}
.new-information .hrx {
  width: 100%;
  border-top-style: double;
  color: #FFD2D2;
  position: relative;
}
.new-information h4 {
  width: auto;
  font-weight: 700;
  position: absolute;
  color: #FF3333;
  font-size: 28px;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 20px;
  background-color: white;
}
.new-information .education .news-edu-hot {
  border-right: 1px solid #E8E8E8;
}
.new-information .education .news-edu-hot a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 278px;
  position: relative;
  height: 390px;
}
.new-information .education .news-edu-hot a img {
  width: 100%;
  height: 73%;
  position: relative;
  height: 95%;
  border-radius: 15px 15px 0 0;
}
.new-information .education .news-edu-hot a p {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 68%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: "Be Vietnam";
  font-weight: 700;
  padding-bottom: 10px;
  background: linear-gradient(180deg, rgba(255, 51, 51, 0) 48.56%, #FF3333 90.68%);
}
.new-information .education .news-edu-detail {
  border-right: 1px solid #E8E8E8;
}
.new-information .education .news-edu-detail a {
  text-decoration: none;
  display: flex;
  color: #333333;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
}
.new-information .education .news-edu-detail a img {
  width: 90px;
  height: 60px;
}
.new-information .education .news-edu-detail a span {
  margin-left: 10px;
  font-family: "Be Vietnam";
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.new-information .education :last-child {
  border-right: none;
}

.physical {
  padding-top: 20px;
}
.physical .heading {
  position: relative;
}
.physical .hrx {
  width: 100%;
  border-top-style: double;
  color: #FFD2D2;
  position: relative;
}
.physical h4 {
  width: auto;
  font-weight: 700;
  position: absolute;
  color: #FF3333;
  font-size: 28px;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 20px;
  background-color: white;
}
.physical .education .news-edu-hot {
  border-right: 1px solid #E8E8E8;
}
.physical .education .news-edu-hot a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 278px;
  position: relative;
  height: 390px;
}
.physical .education .news-edu-hot a img {
  width: 100%;
  height: 73%;
  position: relative;
  height: 95%;
  border-radius: 15px 15px 0 0;
}
.physical .education .news-edu-hot a p {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 68%;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-family: "Be Vietnam";
  font-weight: 700;
  padding-bottom: 10px;
  background: linear-gradient(180deg, rgba(255, 98, 0, 0) 48.56%, #FF6200 90.68%);
}
.physical .education .news-edu-detail {
  border-right: 1px solid #E8E8E8;
}
.physical .education .news-edu-detail a {
  text-decoration: none;
  display: flex;
  color: #333333;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
}
.physical .education .news-edu-detail a img {
  width: 90px;
  height: 60px;
}
.physical .education .news-edu-detail a span {
  margin-left: 10px;
  font-family: "Be Vietnam";
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.physical .education :last-child {
  border-right: none;
}

.skill {
  padding-top: 20px;
}
.skill .heading {
  position: relative;
}
.skill .hrx {
  width: 100%;
  border-top-style: double;
  color: #EDE2BA;
  position: relative;
}
.skill h4 {
  width: auto;
  font-weight: 700;
  position: absolute;
  color: #D8A800;
  font-size: 28px;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 20px;
  background-color: white;
}
.skill .box-detail-skill {
  font-family: "Be Vietnam";
}
.skill .box-detail-skill .is-details a {
  text-decoration: none;
  display: inline-block;
  border-radius: 20px 20px 15px 15px;
}
.skill .box-detail-skill .is-details a img {
  width: 100%;
}
.skill .box-detail-skill .is-details a p {
  padding: 0 10px 0 10px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  margin-bottom: 3px;
}
.skill .box-detail-skill .is-details a h6 {
  padding: 0 10px 0 10px;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
}
.skill .box-detail-skill .is-details a .detail {
  padding: 0 10px 0 10px;
  font-size: 16px;
  color: #333333;
}
.skill .box-detail-skill .is-details:nth-child(1) a {
  background-color: #FFEEEE;
  border: 1px solid #FFD0D0;
}
.skill .box-detail-skill .is-details:nth-child(2) a {
  background-color: #FFFDE7;
  border: 1px solid #F8EF91;
}
.skill .box-detail-skill .is-details:nth-child(3) a {
  background-color: #ECFBFF;
  border: 1px solid #C5EDFF;
}

.context {
  padding-top: 50px;
}
.context .heading {
  position: relative;
}
.context .hrx {
  width: 100%;
  border-top-style: double;
  color: #D3FCDF;
  position: relative;
}
.context h4 {
  width: auto;
  font-weight: 700;
  position: absolute;
  color: #00BA36;
  font-size: 28px;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 20px;
  background-color: white;
}
.context .context-f a {
  text-decoration: none;
  font-family: "Be Vietnam";
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  line-height: 24px;
}
.context .context-f a img {
  width: 100%;
}
.context .context-f a .p-header {
  margin-top: 15px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #E8E8E8;
}
.context .context-f a .p-body {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #E8E8E8;
}
.context .context-f a .p-footer {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #E8E8E8;
}

.relate-to a {
  text-decoration: none;
  color: #333333;
  font-family: "Be Vietnam";
}
.relate-to a h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.relate-to a img {
  width: 100%;
}
.relate-to a .p-head,
.relate-to a .p-body,
.relate-to a .p-footer {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #E8E8E8;
}
.relate-to a .p-head {
  margin-top: 15px;
  height: 80px;
}
.relate-to a .p-body {
  height: 70px;
}
.relate-to a .p-footer {
  height: 70px;
}
.relate-to .col-12:nth-child(1) h3 {
  color: #10A5E8;
  border-top: 4px double #C5EDFF;
}
.relate-to .col-12:nth-child(2) h3 {
  border-top: 4px double #D6D4FF;
  color: #0D0898;
}
.relate-to .col-12:nth-child(3) h3 {
  border-top: 4px double #F1D1FF;
  color: #890CC2;
}/*# sourceMappingURL=index.css.map */