* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin widthImg {
    width: 100%;
    height: 73%;
    position: relative;
}

@mixin styleA {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 278px;
    position: relative;
}

@mixin positionByP {
    position: absolute;
    width: 100%;
    height: 68%;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 0 0 15px 15px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: 'Be Vietnam';
    font-weight: 700;
    padding-bottom: 10px;
}

header {
    background-color: white;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;

    .banner-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .infor-dayOffWeek {
            font-size: 16px;
            width: 270px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dayOfWeek {
                font-family: 'Be Vietnam';
                display: flex;
                align-items: center;

                .fas {
                    padding-right: 6px;
                    color: #666666;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }
        }

        .logo {}

        .weather {
            font-family: 'Be Vietnam';
            font-size: 16px;
            width: 242px;
            display: flex;
            justify-content: space-around;
            border: 1px solid #1B75BC;
            padding: 5px;
            border-radius: 7px;

            b {
                font-weight: bold;
                color: #1B75BC;
            }

            .sun {
                color: #FFC700;
            }
        }
    }

}

nav {
    width: 100%;
    height: 50px;
    background-color: #FFFAC2;
    display: flex;
    align-items: center;
    border: 1px solid #FFF047;

    .sider-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .home {
            box-shadow: 0px 4px 2px #9E9205;
            border-radius: 5px;

            a {
                color: black;
                display: inline-block;
                text-decoration:none;
                .fas {
                    padding: 6px;
                    border: 1px solid #9E9205;
                    border-radius: 5px;
                    background-color: #FFF047;
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            font-family: 'Be Vietnam';
            font-size: 17px;

            li {
                margin-top: 13px;
                list-style: none;
                border-right: 1px solid #E5E1AF;
                padding-right: 10px;

                a {
                    text-decoration: none;
                }

                &:hover a {
                    text-decoration: none;
                }
            }

            li:nth-child(1) a {
                color: red;
            }

            li:nth-child(2) a {
                color: #1B75BC;
            }

            li:nth-child(3) a {
                color: #E6B300;
            }

            li:nth-child(4) a {
                color: #00BA36;
            }

            li:nth-child(5) a {
                color: #10A5E8;
            }

            li:nth-child(6) a {
                color: #0D0898;
            }

            li:nth-child(7) a {
                color: #890CC2;
            }

            :last-child {
                border-right: none;
            }

            :first-child {
                margin-left: 10px;
            }
        }

        .multimedia {
            border: 1px solid #1B75BC;
            padding: auto;
            border-radius: 5px;
            box-shadow: 0px 4px 2px #1B75BC;

            a {
                padding: 3px;
                text-decoration: none;
                display: inline-block;
                color: #1B75BC;
                font-weight: bold;
                font-size: 15px;

                .fas {
                    padding-right: 3px;
                }
            }
        }
    }
}

.box-body {
    background: linear-gradient(180deg, #FFFFFF 0%, #E9F5FF 100%);
    width: 100%;
    padding-bottom: 27px;
    border-bottom: 1px solid #92CFFF;

    .hagtag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: 'Be Vietnam';
        height: 27px;

        .trendding {
            .fas {
                padding: 5px;
                background-color: #DAEFFF;
                border-radius: 20px;
                color: #1B75BC;
                margin-right: 10px;
            }

            span {
                font-size: 13px;
            }
        }

        a {
            text-decoration: none;
            font-size: 13px;
        }
    }

    .content {
        .is-content-left {
            a {
                @include styleA;

                img {
                    @include widthImg;
                }

                p {
                    font-size: 17px;
                    font-weight: 700;
                    @include positionByP;
                    background: linear-gradient(180deg, rgba(80, 41, 134, 0) 14.54%, #502986 50%);
                }
            }
        }

        .is-content-center {
            a {
                @include styleA;

                img {
                    @include widthImg;
                    border-radius: 15px 15px 15px 15px;
                    height: 100%;
                }

                p {
                    font-size: 17px;
                    font-weight: 700;
                    @include positionByP;
                    background: linear-gradient(180deg, rgba(255, 98, 0, 0) 48.56%, #FF6200 90.68%);
                }
            }
        }

        .is-content-right {
            a {
                @include styleA;

                img {
                    @include widthImg;
                }

                p {
                    font-size: 17px;
                    font-weight: 700;
                    @include positionByP;
                    background: linear-gradient(180deg, rgba(19, 174, 142, 0) 14.54%, #13AE8E 50%);
                }
            }
        }
    }

    .detail {
        .is-detail-content {
            a {
                @include styleA;

                img {
                    @include widthImg;
                }

                p {
                    font-size: 17px;
                    font-weight: 700;
                    @include positionByP;
                }
            }
        }

        .is-detail-content:nth-child(1) a p {
            background: linear-gradient(180deg, rgba(66, 133, 244, 0) 14.54%, #4285F4 50%);
        }

        .is-detail-content:nth-child(2) a p {
            background: linear-gradient(180.44deg, rgba(236, 197, 48, 0) 22.93%, #ECC530 50.02%);
        }

        .is-detail-content:nth-child(3) a img {
            border-radius: 15px;
        }

        .is-detail-content:nth-child(3) a p {
            background: linear-gradient(180deg, rgba(46, 176, 227, 0) 32.12%, #2EB0E3 59.67%);
        }

        .is-detail-content:nth-child(4) a p {
            background: linear-gradient(180deg, rgba(13, 8, 152, 0) 14.54%, #0D0898 50%);
        }
    }

    .event-tet {
        .top {
            width: 120px;
            font-size: 24px;

            .title-top {
                color: #1B75BC;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #1B75BC;
                background: linear-gradient(270deg, #FFFFFF 0%, #A0D5FF 100%);
                box-shadow: 0px 4px 2px #1B75BC;

                p {
                    padding-left: 15px;
                    text-align: right;
                    margin-bottom: 0;
                    font-family: 'Copperplate Gothic Bold', serif;
                    font-weight: 700;
                }
            }

            span {
                font-family: "Be Vietnam";
                color: #333333;
                font-weight: 700;
                font-size: 21px;
                margin-top: 20px;
            }
        }

        .icon {
            width: 32px;
            height: 32px;
            color: white;
            background: #1B75BC4D;
            border-radius: 19px;
            border: 1px solid #D6E7F5;

            .fas {
                width: 6px;
            }
        }

        .customs {
            font-family: 'Be Vietnam';
            color: #333333;
            width: 82px;
            font-weight: 400;

            img {
                padding: 3px;
                border: 1px solid #EBEBEB;
                border-radius: 50%;
                background-color: white;
            }
        }

        :hover {
            text-decoration: none;
        }
    }

}

.youth {
    a {
        font-family: 'Be Vietnam';

        img {
            width: 100%;
        }

        p {
            padding-top: 10px;
            font-weight: 400;
            font-size: 14px;
            color: #666666;
            margin-bottom: 0;
        }

        h6 {
            padding-top: 10px;
            font-weight: 700;
            font-size: 24px;
            color: #333333;
        }
    }

    :hover {
        text-decoration: none;
    }
}

.new-information {
    padding-top: 20px;

    .heading {
        position: relative;
    }

    .hrx {
        width: 100%;
        border-top-style: double;
        color: #FFD2D2;
        position: relative;
    }

    h4 {
        width: auto;
        font-weight: 700;
        position: absolute;
        color: #FF3333;
        font-size: 28px;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 20px;
        background-color: white;
    }

    .education {
        .news-edu-hot {
            border-right: 1px solid #E8E8E8;

            a {
                @include styleA;
                height: 390px;

                img {
                    @include widthImg;
                    height: 95%;
                    border-radius: 15px 15px 0 0;
                }

                p {
                    font-size: 22px;
                    font-weight: 700;
                    @include positionByP;
                    background: linear-gradient(180deg, rgba(255, 51, 51, 0) 48.56%, #FF3333 90.68%);
                }
            }
        }

        .news-edu-detail {
            border-right: 1px solid #E8E8E8;

            a {
                text-decoration: none;
                display: flex;
                color: #333333;
                padding-bottom: 10px;
                border-bottom: 1px solid #E8E8E8;

                img {
                    width: 90px;
                    height: 60px;
                }

                span {
                    margin-left: 10px;
                    font-family: 'Be Vietnam';
                    font-weight: 400;
                    font-size: 16px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

        }

        :last-child {
            border-right: none;
        }
    }
}


.physical {
    padding-top: 20px;

    .heading {
        position: relative;
    }

    .hrx {
        width: 100%;
        border-top-style: double;
        color: #FFD2D2;
        position: relative;
    }

    h4 {
        width: auto;
        font-weight: 700;
        position: absolute;
        color: #FF3333;
        font-size: 28px;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 20px;
        background-color: white;
    }

    .education {
        .news-edu-hot {
            border-right: 1px solid #E8E8E8;

            a {
                @include styleA;
                height: 390px;

                img {
                    @include widthImg;
                    height: 95%;
                    border-radius: 15px 15px 0 0;
                }

                p {
                    font-size: 22px;
                    font-weight: 700;
                    @include positionByP;
                    background: linear-gradient(180deg, rgba(255, 98, 0, 0) 48.56%, #FF6200 90.68%);
                }
            }
        }

        .news-edu-detail {
            border-right: 1px solid #E8E8E8;

            a {
                text-decoration: none;
                display: flex;
                color: #333333;
                padding-bottom: 10px;
                border-bottom: 1px solid #E8E8E8;

                img {
                    width: 90px;
                    height: 60px;
                }

                span {
                    margin-left: 10px;
                    font-family: 'Be Vietnam';
                    font-weight: 400;
                    font-size: 16px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }

        :last-child {
            border-right: none;
        }
    }
}

.skill {
    padding-top: 20px;

    .heading {
        position: relative;
    }

    .hrx {
        width: 100%;
        border-top-style: double;
        color: #EDE2BA;
        position: relative;
    }

    h4 {
        width: auto;
        font-weight: 700;
        position: absolute;
        color: #D8A800;
        font-size: 28px;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 20px;
        background-color: white;
    }

    .box-detail-skill {
        font-family: 'Be Vietnam';

        .is-details {
            a {
                text-decoration: none;
                display: inline-block;
                border-radius: 20px 20px 15px 15px;

                img {
                    width: 100%;
                }

                p {
                    padding: 0 10px 0 10px;
                    margin-top: 10px;
                    font-weight: 400;
                    font-size: 14px;
                    color: #666666;
                    margin-bottom: 3px;
                }

                h6 {
                    padding: 0 10px 0 10px;
                    font-size: 16px;
                    color: #333333;
                    font-weight: 700;
                }

                .detail {
                    padding: 0 10px 0 10px;
                    font-size: 16px;
                    color: #333333;
                }
            }
        }

        .is-details:nth-child(1)a {
            background-color: #FFEEEE;
            border: 1px solid #FFD0D0;
        }

        .is-details:nth-child(2)a {
            background-color: #FFFDE7;
            border: 1px solid #F8EF91;
        }

        .is-details:nth-child(3)a {
            background-color: #ECFBFF;
            border: 1px solid #C5EDFF;
        }
    }

}

.context {
    padding-top: 50px;

    .heading {
        position: relative;
    }

    .hrx {
        width: 100%;
        border-top-style: double;
        color: #D3FCDF;
        position: relative;
    }

    h4 {
        width: auto;
        font-weight: 700;
        position: absolute;
        color: #00BA36;
        font-size: 28px;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 20px;
        background-color: white;
    }

    .context-f {
        a {
            text-decoration: none;
            font-family: 'Be Vietnam';
            font-size: 16px;
            font-weight: 700;
            color: #333333;
            line-height: 24px;

            img {
                width: 100%;
            }

            .p-header {
                margin-top: 15px;
                width: 100%;
                height: 80px;
                border-bottom: 1px solid #E8E8E8;
            }

            .p-body {
                width: 100%;
                height: 70px;
                border-bottom: 1px solid #E8E8E8;
            }

            .p-footer {
                width: 100%;
                height: 70px;
                border-bottom: 1px solid #E8E8E8;
            }
        }
    }
}

.relate-to {
    a {
        text-decoration: none;
        color: #333333;
        font-family: 'Be Vietnam';

        h3 {
            padding-top: 10px;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
        }

        img {
            width: 100%;
        }

        .p-head,
        .p-body,
        .p-footer {
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            border-bottom: 1px solid #E8E8E8;
        }

        .p-head {
            margin-top: 15px;
            height: 80px;
        }

        .p-body {
            height: 70px;
        }

        .p-footer {
            height: 70px;
        }
    }

    .col-12:nth-child(1) h3 {
        color: #10A5E8;
        border-top: 4px double #C5EDFF;
    }

    .col-12:nth-child(2) h3 {
        border-top: 4px double #D6D4FF;
        color: #0D0898;
    }

    .col-12:nth-child(3) h3 {
        border-top: 4px double #F1D1FF;
        color: #890CC2;
    }
}


.multimedias {
    background: linear-gradient(180deg, #FFECEC 0%, #FFFFFF 100%);
    width: 100%;
    .hrx {
        width: 100%;
        border-top-style: double;
        color: #FFD0D0;
        position: relative;
    }
    h6{
        font-family: 'Playfair Display';
        padding-top: 15px;
        font-weight: 700;
        color: #dc211a;
        font-size: 22px;
    } 
    .multimedias-body {
        width: 100%;
        padding-bottom: 25px;
        border-bottom: 2px solid #E8E8E8;
        position: relative;
        .media {
             a {
                display: inline-block;
                text-decoration: none;
                img {
                    width: 100%;
                    position: relative;
                }
                .btn-media {
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    background: #40404099;
                    border-radius: 22px;
                    left: 20px;
                    bottom: calc(50% - 97px);
                    .triangle {
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 8px 0 8px 10px;
                        border-color: transparent transparent transparent white;
                        transform: rotate(0deg);
                    }
                }
                h6 {
                    font-family: 'Be Vietnam';
                    font-size: 16px;
                    color: #333333;
                }
            }
        }
        .pagination {
            position: absolute;
            left: calc(width -50%);
            bottom: -12px;
            .li-sum {
                width: 54px;
                height: 9px;
                background-color: #FFB4B2;
                border-radius: 10px;
            }
            .li-child {
                width: 9px;
                height: 9px;
                background-color: #E8E8E8;
                border-radius: 15px;
            }
        } 
    }
}

.video{
    border: 1px solid #E4E4E4;
    border-radius: 7px;
    .hrx {
        width: 100%;
        border-top-style: double;
        color: #C4EDFF;
        position: relative;
        border-radius: 7px 7px 0 0 ;
    }
    h6 {
        padding: 15px 0 0 15px;
        font-family: 'Playfair Display';
        color: #10A5E8;
        font-size: 22px;
    }
    .education {
        a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            img {
                width: 1108px;
                border-radius: 5px;
                position: relative;
            }
            .xem-media {
                margin-left: 45px;
                width: 550px;
                position: absolute;
                left: 0;
                bottom: 46px;
                color: white;
                text-align: center;
                font-family: 'Be Vietnam',sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                .nut-play {
                    width: 50px;
                    height: 50px;
                    background-color: #10A5E8;
                    border-radius: 28px;
                    .triangle {
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 9.5px 0 9.5px 16px;
                        border-color: transparent transparent transparent white;
                        transform: rotate(0deg);
                     }
                }
                .xem-video {
                   width: 114px;
                    background-color: white;
                    height: 32px;
                    border-radius: 5px;
                    p {
                        color: black;
                        margin-bottom: 0;
                        font-size: 14px;
                    }
                    .triangle {
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 7px 0 7px 10px;
                        border-color: transparent transparent transparent black;
                        transform: rotate(0deg);
                     }
                }
            }

            .video-head {
                width: 225px;
                position: absolute;
                top: 20px;
                right: 18px;
                color: white;
                .header-video  {
                    h5 {
                        margin-bottom: 0;
                    }
                    .arrow {
                        li {
                            display: inline-block;
                            list-style: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            background: #0000004D;
                            border-radius: 20px;
                            border: 1px solid;
                        }
                    }
                }
                .body-video {
                   .genz{
                    border-bottom: 1px solid #595658;
                        img {
                            width: 100%;
                        }
                        h5 {
                            font-size: 16px;
                            font-weight: 700;
                        }
                   }
                   .shool {
                        img {
                            width: 100%;
                        }
                        h5 {
                            font-size: 16px;
                            font-weight: 700;
                        }
                   }
                }
            }
        }
    }
}

.banner-x {
    img {
        width: 100%;
    }
}

footer {
    font-family: 'Be Vietnam',sans-serif;
    .f-banner {
       width: 100%;
       display: flex;
       justify-content: center;
        img {
            width: 235px;
        } 
    }
    .f-body {
        h6 {
            font-weight: 700;
        }
    }
    .sign-in {
        h6 {
            font-weight: 700; 
        }
        span {
            font-size: 11px;
        }
    }

    .infor {
        p {
            font-size: 15px;
        }
    }
    .contact {
        .contact-call {
            width: 156px;
            height: 42px;
            color: white;
            background-color: #FF6200;
            border-radius: 5px;
        }
    }
    .emails {
        input {
            height: 42px;
            border: 2px solid #FF6200;
            border-radius: 5px 0 0 5px;
        }
        .fas {
            color: white;
            background-color: #FF6200;
            padding: 12px;
            border-radius: 0 5px 5px 0;
        }
    }
}



